<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="maxRowSaleOrderInvoice" value="15"/>
  </appSettings>
  <connectionStrings>
    <add name="PCSMain.Properties.Settings.ERPConnectionString" connectionString="Data Source=.;Initial Catalog=MAP;Persist Security Info=True;User ID=sa;Password=Niteco@123"/>
    <add name="PCSMain.Properties.Settings.OtherDbConnectionString" connectionString="Provider=SQLOLEDB;Data Source=.;User ID=sa;Password=Niteco@123;Initial Catalog=MAP"/>
    <add name="PCSMain.Properties.Settings.OleDbConnectionString" connectionString="Provider=SQLOLEDB;Data Source=.;User ID=sa;Password=Niteco@123;Initial Catalog=MAP"/>
  </connectionStrings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/PCS.log"/>
      <appendToFile value="true"/>
      <staticLogFileName value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %newline(%type.%method) %newline(%file:%line) %newline%message%newline"/>
      </layout>
    </appender>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <encoding value="utf-16"/>
      <remoteAddress value="127.0.0.1"/>
      <remotePort value="8080"/>
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%-5level %logger %newline(%type.%method) %newline(%file:%line) %newline%message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="UdpAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
