<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PCSComUtils.Properties.Settings.vbc2009ConnectionString" connectionString="Data Source=.;Initial Catalog=MAP;Persist Security Info=True;User ID=sa;Password=khongbiet" providerName="System.Data.SqlClient"/>
        <add name="PCSComUtils.Properties.Settings.map2010ConnectionString" connectionString="Data Source=.;Initial Catalog=map;Persist Security Info=True;User ID=sa;Password=khongbiet" providerName="System.Data.SqlClient"/>
        <add name="PCSComUtils.Properties.Settings.MAP2010ConnectionString1" connectionString="Data Source=.;Initial Catalog=MAP;Persist Security Info=True;User ID=sa;Password=khongbiet" providerName="System.Data.SqlClient"/>
        <add name="PCSComUtils.Properties.Settings.MAPConnectionString" connectionString="Data Source=EPVNWKS13;Initial Catalog=MAP;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="PCSComUtils.Properties.Settings.MAPConnectionString1" connectionString="Data Source=.;Initial Catalog=MAP;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
