<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PCSComUtils.Properties.Settings.MAPConnectionString"
            connectionString="Data Source=.;Initial Catalog=TEST;Persist Security Info=True;User ID=sa;Password=Niteco@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
